$primary: #478CE1;
$primary-light: #7ABEFC;
$primary-2: rgba(4,161,255,1);
$primary-3: rgba(0,120,191,1);
$primary-dark: rgba(0,100,160,1);

$primary-opacity: rgba(0,100,160,0.05);

//text color
$text: rgb(66, 66, 66);

//mobile query based on bootstrap
$phone: "only screen and (min-width : 576px)";
$tablet: "only screen and (min-width : 768px)";
$laptop: "only screen and (min-width : 992px)";
$desktop: "only screen and (min-width : 1200px)";

html,
body
	width: 100%
	height: 100%
	font-family: 'Source Sans Pro', sans-serif
	color: $text
	background: #F4F9FF
	margin: 0
	padding: 0

#app
	background: url('/img/casey-horner-555820-unsplash.jpg')
	background-size: cover
	background-repeat: no-repeat
	width: 100%
	height: 100%
	min-height: calc(100vh - 200px)

div
	width: 100%
	box-sizing: border-box

h
	font-family: 'Open Sans', sans-serif

.u
	&-text-center
		text-align: center

	&-m-0
		margin: 0

	&-p-0
		margin: 0

	&-flex-center
		display: flex
		flex-flow: column wrap
		align-items: center
		justify-content: center
	&-small
		font-size: 0.8em
	&-none
		display: none

.u-icon
	&__xs
		width: 1em
		height: 1em
		fill: $text
	&__md
		width: 2em
		height: 2em
		fill: $text
		@media #{$laptop}
			width: 2.5em
			height: 2.5em
	&__xl
		width: 6em
		height: 6em
		fill: $primary

.u-fade
	animation: fade 0.5s linear

@keyframes fade
  from
    opacity: 0
  to
    opacity: 1

.u-loading
	display: block
	margin: 1em
	svg
		display: block
		fill: $primary
		animation: spin 2s linear infinite
		transform-origin: center
		margin: 0 auto

.u-btn
	display: block
	width: auto
	background: white
	padding: 0.5em
	border-radius: 0.5em
	border: solid 1px rgba(0,0,0,0.05)
	cursor: pointer
	&:active
		box-shadow: inset 0 0 26px 5px rgba(0,0,0,0.1)
	&:hover
		svg
			transition: 300ms
			opacity: 0.7

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

header
	background: white
	width: 100%
	padding: 1em 0
	@extend .u-flex-center
	@media #{$laptop}
		width: auto
		// background: transparent

// ==============
// Weather Grid
// ==============

.c-container
	position: relative
	@extend .u-flex-center
	background: rgba(255,255,255,0.7)
	animation: fade 1s linear
	@media #{$laptop}
		background: rgba(255,255,255,0.6)
		width: 80%
		flex-flow: row wrap
		margin: 0 auto
		margin-top: 1em
		margin-bottom: 1em
	@media #{$desktop}
		width: 60%


.u-flex-half
	@media #{$laptop}
		margin-top: 1em

.c-weather

	&--desktop
		display: none
		@media #{$laptop}
			display: block
			position: absolute
			color: white
			text-align: left
	&--grid
		position: relative
		@extend .u-flex-center
		padding: 1.5em 1em
		@media #{$laptop}
			// display: none
			flex: 1 1 100%
			.u-icon__xl
				width: 7em
				height: 7em

	&--switch
		position: absolute
		display: block
		width: auto
		top: 0.8em
		right: 0.5em
		transition: 400ms
		cursor: pointer
		&:hover
			background: $text
			svg
				fill: white
		@media #{$laptop}
			top: 0.5em

	&--temp
		font-size: 2em
		font-weight: 500
		margin-top: 0
		margin-bottom: 0
		@extend .u-text-center
		@media #{$laptop}
			font-size: 4em
			margin-top: 0

	&--area
		@extend .u-text-center
		margin-bottom: 0.5em

	&--summary
		@extend .u-text-center
		margin: 0

	&--reload
		position: absolute
		top: 1em
		right: 1em

//main info grid
.c-weather--info
	@extend .u-flex-center
	flex-flow: row wrap
	background: white
	border-radius: 5px
	padding: 0.5em
	margin: 0 0.8em
	@media #{$laptop}
		margin: 0 3em

	.c-weather--details
		@extend .u-text-center
		@extend .u-flex-center
		flex: 0 0 33%
		border-right: 1px solid #eee
		&:last-of-type
			border-right: 0
	p
		padding: 0.5em 0

.t-info
	&--value
		font-size: 1.2em
		font-weight: bold
		color: $primary-light
	&--title
		font-weight: 300

// hourly forecast grid
.c-weather--forecast
	@extend .c-weather--info
	margin-bottom: 1em
	margin-top: 1em
	padding: 1em 0.5em
	background: white
	svg
		fill: $primary-light
	p
		margin: 0

.c-forecast--grid
	@extend .u-flex-center
	flex: 0 0 20%
	border: 0

//daily forecast grid
.c-weather--daily
	@extend .c-weather--forecast
	padding: 0.5em

	@media #{$tablet}
		flex-flow: column wrap

	@media #{$laptop}
		flex-flow: row wrap
		flex: 1 1 100%
		margin: 0 3em 3em

.c-daily
	&--grid
		@extend .u-flex-center
		display: flex
		flex-flow: row wrap
		border: 0
		flex: 1 1 33.3%
		@media #{$tablet}
			flex-flow: row wrap
			padding: 0.5em 0
			border-bottom: solid 1px #eee
			&:last-of-type
				border-bottom: 0
			svg
				width: 3.5em
				height: 3.5em
				flex: 0 0 30%
		@media #{$laptop}
			flex: 1 1 50%
			border-bottom: 0

	&--forecast
		padding: 0.5em
		@media #{$tablet}
			flex:  0 0 70%

	&--time
		text-align: center
		&:first-child
			font-weight: bold
		@media #{$tablet}
			text-align: left

	&--summary
		display: none
		@media #{$tablet}
			display: block
