html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424242;
  background: rgba(0, 100, 160, 0.05);
  margin: 0;
  padding: 0; }

div {
  width: 100%; }

h {
  font-family: 'Open Sans', sans-serif; }

.u .u-text-center, .u .c-weather--summary, .u .c-weather--info div, .c-weather--info .u div, .u .c-weather--forecast div, .c-weather--forecast .u div {
  text-align: center; }

.u-m-0 {
  margin: 0; }

.u-p-0 {
  margin: 0; }

.u-flex-center, header, .c-container, .c-weather--grid, .c-weather--info, .c-weather--forecast, .c-weather--info div, .c-weather--forecast div {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center; }

.u-icon__xs {
  width: 1em;
  height: 1em;
  fill: #424242; }

.u-icon__md {
  width: 2em;
  height: 2em;
  fill: #424242; }

.u-icon__xl {
  width: 3em;
  height: 3em;
  fill: #0091e7; }

.u-loading {
  display: block; }
  .u-loading svg {
    display: block;
    fill: #0091e7;
    animation: spin 2s linear infinite;
    transform-origin: center;
    margin: 0 auto; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

header {
  background: white;
  width: 100vw;
  padding: 1em 0; }

.c-weather--grid {
  padding: 1em; }

.c-weather--summary {
  margin: 0; }

.c-weather--info, .c-weather--forecast {
  flex-flow: row wrap;
  background: white;
  border-radius: 5px; }
  .c-weather--info div, .c-weather--forecast div {
    flex: 0 0 33.3%; }
  .c-weather--info p, .c-weather--forecast p {
    padding: 0.5em 0; }

.t-info--title {
  font-weight: 300; }

.t-info--value {
  font-size: 1.2em;
  font-weight: bold;
  color: rgba(10, 164, 255, 0.7); }

.c-weather--forecast {
  margin-top: 1em;
  padding: 1em 0;
  background: white; }
  .c-weather--forecast div {
    flex: 0 0 25%; }
  .c-weather--forecast p {
    margin: 0; }
