$primary: #478CE1;
$primary-light: #7ABEFC;
$primary-2: rgba(4,161,255,1);
$primary-3: rgba(0,120,191,1);
$primary-dark: rgba(0,100,160,1);

$primary-opacity: rgba(0,100,160,0.05);

$text: rgb(66, 66, 66);

html,
body
	width: 100%
	height: 100%
	box-sizing: border-box
	font-family: 'Source Sans Pro', sans-serif
	color: $text
	background: #F4F9FF
	margin: 0
	padding: 0

div
	width: 100%

h
	font-family: 'Open Sans', sans-serif

.u
	&-text-center
		text-align: center

	&-m-0
		margin: 0

	&-p-0
		margin: 0

	&-flex-center
		display: flex
		flex-flow: column wrap
		align-items: center
		justify-content: center
	&-small
		font-size: 0.8em
	&-none
		display: none

.u-icon
	&__xs
		width: 1em
		height: 1em
		fill: $text
	&__md
		width: 2em
		height: 2em
		fill: $text
	&__xl
		width: 6em
		height: 6em
		fill: $primary

.u-fade
	animation: fade 1s linear

.u-loading
	display: block
	margin: 1em
	svg
		display: block
		fill: $primary
		animation: spin 2s linear infinite
		transform-origin: center
		margin: 0 auto

@keyframes spin
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)

header
	background: white
	width: 100vw
	padding: 1em 0
	@extend .u-flex-center

// ==============
// Weather Grid
// ==============

.c-container
	@extend .u-flex-center
	animation: fade 1s linear

.c-weather
	&--grid
		@extend .u-flex-center
		padding: 1.5em 1em

	&--temp
		font-size: 2em
		font-weight: 500
		margin-bottom: 0

	&--area
		@extend .u-text-center
		margin-bottom: 0.5em

	&--summary
		@extend .u-text-center
		margin: 0

//main info grid
.c-weather--info
	@extend .u-flex-center
	flex-flow: row wrap
	background: white
	border-radius: 5px
	padding: 0.5em
	margin: 0 0.8em
	div
		@extend .u-text-center
		@extend .u-flex-center
		flex: 0 0 33%
		border-right: 1px solid #eee
		&:last-of-type
			border-right: 0
	p
		padding: 0.5em 0

.t-info
	&--value
		font-size: 1.2em
		font-weight: bold
		color: $primary-light
	&--title
		font-weight: 300

.c-weather--forecast
	margin-bottom: 1em
	@extend .c-weather--info
	margin-top: 1em
	padding: 1em 0.5em
	background: white
	svg
		fill: $primary-light
	div
		flex: 0 0 20%
		border: 0
	p
		margin: 0

@keyframes fade
  from
    opacity: 0
  to
    opacity: 1